.Actions {
    width: calc(59.25%);
    height: calc(15%);

    position: fixed;
    left: calc(20.20%);
    right: calc(20%);
    top: 0;

    background-size: 1000px;
}

.login {
    position: absolute;
    left: calc(20%);
    top: calc(25%);

    border: 0;

    color: black;
    font-size: calc(150%);

    padding: 10px 10px;
    border: black 3px solid;
    background-color: #6389eb;
    border-radius: 25px;
}

.createAccount {
    position: absolute;
    right: calc(20%);
    top: calc(25%);

    border: 0;

    color: black;
    font-size: calc(150%);

    padding: 10px 10px;
    border: black 3px solid;
    background-color: #6389eb;
    border-radius: 25px;
}

a:hover {
    background-color: lightblue;
}