.UpdateForm {
    display: flex;
    flex-direction: column;
}

    .UpdateForm Label {
        margin-bottom: 10px;
    }

    .UpdateForm input[type="text"],
    .UpdateForm textarea {
        width: 100%;
        padding: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .UpdateForm button {
        padding: 8px 16px;
        margin-top: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .UpdateForm button:hover {
            background-color: #0056b3;
        }
