.Cart {
    width: calc(100%);
    height: calc(23%);

    position: fixed;
    bottom: 0;
    right: 0;
    
    border: 3px solid black;
    background-color: #fffff9;
    border-radius: 20px;
}

.CartActions {
    position: absolute;
    top: calc(20%);
    left: calc(8%);

    width: calc(5%);
    height: calc(40%);
}

.cartButtons {
    margin: auto;
    width: calc(200%);
    height: 40px;
    margin-top: 10px;
    background-color: #6389eb;

    border: 3px solid black;

}

button:hover {
    background-color: lightblue;
}

.BookCartView {
    position: absolute;
    right: 0;
    bottom: calc(10%);

    width: calc(70%);
    height: calc(80%);
}

.loginAlert {
    text-align: center;
    width: calc(100%);
    height: calc(50%);
    
    position: absolute;
    bottom: calc(15%);
}