.BookView {
    width: calc(69.5%);
    height: calc(60%);

    position: fixed;
    right: 0;
    top: calc(15.5%);

    border: black solid 3px;

    border-radius: 20px;

    background-color: #fffff9;
}

.searchform {
    margin-top: calc(1%);
}

.inputbar {
    width: calc(85%);
    padding: 3px;
    margin-right: calc(2%);
    margin-left: calc(2%);
    border: 1px solid blue;
}

.barbutton {
    width: calc(5%);
    margin-right: calc(2%);
}

.booksView {
    padding: calc(1%);
    width: 99%;
    display: block;
}

.EmployeeBookButtons {
    display: flex;
}