.app {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}
.sidebar {
    /* Sidebar styles */
    width: 200px;
}

.content {
    flex-grow: 1;
}

.bookList {
    display: block;
    justify-content: center;
}
