.create-container-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../media_files/LoginPageBackground.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.create-containment h1 {
    font-size: 36px;
    text-align: center;
    color: white;
    padding: 0px 0px 20px 0px;
}

label {
    margin: 10px 0px 10px 0px;
    color: white;
    font-weight: 600;
}

.text-input {
    padding: 0px 0px 10px 0px;
}