.UserInfo {
    width: calc(20%);
    height: calc(15%);

    border: 3px solid black;
    border-radius: 3px;

    text-align: center;

    position: fixed;
    top: 0;
    right: 0;

    background-color: lightblue;
    color: black;

    display: flex; 
    flex-flow: column nowrap; 
    justify-content: center; 

    border-radius: 20px;
}

a {
    text-decoration: none;
    border: black solid 2px;
    padding: 2px;
}